---
layout: layouts/base.njk
permalink: /stories/
eleventyNavigation:
  key: Stories
  order: 3
---
<div class="p-3">
<h2 class="p-3">Stories</h2>

{% set storylist = collections.stories %}
{% include "storylist.njk" %}
</div>