<!doctype html>
<html lang="en">
  <head>
    <meta name="google-site-verification" content="{{ metadata.googleverification }}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta content='{{ title or metadata.title }}' property='og:title'/>
    <meta content='https://401matthall.com/' property='og:author'/>
    <meta content='https://401matthall.com/' property='og:developer'/>
    <meta content='{{ title or metadata.title }}' name='facebook:title'/>
    <meta content='website' property='og:type'/>
    <meta content='summary_large_image' name='twitter:card'/>
    <meta content='https://twitter.com/401matthall.com' property='twitter:author'/>
    <meta content='@401matthall' name='twitter:site'/>
    <meta content='{{ cover or metadata.favicon }}' name='twitter:image'/>
    <meta content='{{ description or metadata.description }}' name='twitter:description'/>
    <meta content='{{ title or metadata.title }} ' name='twitter:title'/>
    <meta content='{{ title or metadata.title }}' name='keywords'/>
    <meta content='index, follow' name='robots'/>
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="icon" type="image/x-icon" href="{{ cover or metadata.favicon }}"/>
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
  </head>
  <body>