---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="p-3">
<h2 class="mb-3">{{ title }}</h2>
<div class="p-3">
<h3><a href="{{page.url}}" class="text-light">{{ description }}</a></h3>
<time datetime="{{ page.date | htmlDateString }}" class="postlist-date">{{ page.date | readableDate }}</time><br/>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
&nbsp;<a href="{{ tagUrl | url }}" class="post-tag">#{{ tag }}</a>
{%- endfor %}

{{ content | safe }}

</div>
{%- set nextStory = collections.story | getNextCollectionItem(page) %}
{%- set previousStory = collections.story | getPreviousCollectionItem(page) %}
{%- if nextStory or previousStory %}
<hr class="bg-light"/>
<ul>
  {%- if nextStory %}<li>Next: <a href="{{ nextStory.url | url }}">{{ nextStory.data.title }}</a></li>{% endif %}
  {%- if previousStory %}<li>Previous: <a href="{{ previousStory.url | url }}">{{ previousStory.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
</div>